html *
{   
/*    font-family: "verdana", "Helvetica", "sans-serif" !important;*/
/*    font-family: "calibri", "Helvetica", "sans-serif" !important;*/
/*    font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif" !important;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; 
    text-decoration: none;
    box-sizing: border-box;
}

html{
    margin: 0 auto;
    padding: 0;
    width: auto;
}

.newspaper {
    -webkit-columns: 300px 2; /* Chrome, Safari, Opera */
    -moz-columns: 300px 2; /* Firefox */
    columns: 300px 2;
}

.autoResizeImage {
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.element {
  all: none;
}

body {    
    margin:0% auto;
    padding: 0px;
    width:1200px;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 1260px;
}

bl {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#000000;
    clear:both;
    text-align:center;
    padding:5px;
    font-size: 8px;
    color: #FFFFFF
}
 
ol{
    padding: 0;
    list-style-type:none;
}

li {
    float: left;
    list-style-type: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 14px;
}

a{
    color: #002A5C; /*#57068C*/ ;
}

ti {
    float: top;
    text-decoration: none;
}

ti a {
    display: block;
    color: #002A5C; /*#57068C*/ ;
    padding: 10px 10px;
    text-decoration:none;
    width:210px;
}


li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #002A5C; /*#57068C*/ ;
}

h1.sansserif {
        color: #002A5C; /*#57068C*/ ;
}

h2.sansserif {
        color: #002A5C; /*#57068C*/ ;
}

h3.sansserif {
        color: #002A5C; /*#57068C*/ ;
        padding: 0;
}

h4.sansserif {
        color: #002A5C; /*#57068C*/ ;
}

p.sansserif {
    margin: 0;
    padding: 0px;
    text-align:justify;
}

.tight {
    text-align:justify;
    margin: 0;
    padding: 0%;
}

div{
    padding:25px;
    margin-top:50px;
    margin-bottom:50px;
    margin-right:0px;
    margin-left:0px;
    background-color:#white;
    height:100%;
    text-align:justify;
}

hr{
    background-color: #002A5C; /*#57068C*/ ;
    height: 3px;
    border: none;
    margin-top: 2%;
    margin-bottom: 1%;   
}

<style>
#myDiv {
    padding:100;
    margin: auto;
    margin-top:200px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
    background-color:#002A5C;
    height:100%;
    text-align:center;
}
</style>